/*
* @Author: bbales
* @Date:   2015-02-23 11:51:56
* @Last Modified by:   bbales
* @Last Modified time: 2015-02-24 17:43:59
*/

@font-face {
    font-family: karma;
    src: url(karma_future.ttf);
}

@font-face {
    font-family: pixel;
    src: url(Pixel.ttf);
}

body{
    margin: 0 0;
    padding: 0 0;
    overflow:hidden;
    border:none;
}

.retro{
    text-shadow:2px 2px 2px rgb(255,100,100);
    color:rgb(255,255,255);
    font-family:pixel;
    font-size:1.5rem;
}

.m1t{
    margin-top:1rem;
}
.m1tb{
    margin-bottom:1rem;
}

.title{
    font-size:2.0rem;
}

.center-block{
    display: block;
    margin:0 auto;
}

.center-text{
    text-align: center;
}
